.about-links
  .about-guy
    = link_to "About The Guy", url_for('/bio_blurb')

  .about-skillz
    = link_to "About The Guy's Skillz", url_for('/skillz_blurb')

  .about-website
    = link_to "About The Website", url_for('/website_blurb')
