.blurb
  .subtitle
    %h2
      About Jeff Pritchard...

  .body-text
    %em
      %blockquote
        %p
          I am a bit odd, but mostly in harmless ways.

        %p
          While there isn't any one label that really describes me well, a few "tags" I wear with honor would be: Engineer, Creative, Nature Lover, Persistant.

        %p
          Most people who know me well would likely describe me as "always off on some project or another."  Probably that is as good an explanation of me as any
          (though I'm likely to think of them more generously as "adventures").

        %p
          One is equally likely to find me either parked in front of a computer, or hacking away in my workshop, or sitting quietly in the woods leaning up against a tree.

