.blurb
  .subtitle
    %h2
      About Jeff's Technical Background...

  .body-text
    %em
      %blockquote
        %p
          While I have worked with Rails since version 1.0 (2007) and various website projects since the turn of the century, I am roughly halfway through a 60 year career as a software engineer.  
          
        %p
          Other epochs in my software engineering carreer have included such things as Macintosh development, iOS software development, Palm Pilot software development and embedded C and C++ work on ARM processors in the cell-phone industry.  
        
 
        %p
          My Engineering degree is from the Science/Engineering campus of the University of Missouri in Rolla.

        %p
          I currently make my living as a Ruby on Rails developer and an Artificial Intelligence specialist.


        %p
          = "You can "
          = link_to "download my resume", 'http://jeffp-images.s3.amazonaws.com/JeffPritchardResume.pdf', :target => "_blank"
          = " in pdf form."
