.blurb
  .subtitle
    %h2
      About This Website...


  .body-text
    %em
      %blockquote
        %p
          I designed and built this website at the end of 2013 in order to have a showcase for my (mis)adventures and to sharpen my coding skills with the most modern versions of my preferred web development frameworks and tools.

        %p
          There is a nearly endless set of tools used in modern web-application development, and while not exhaustive, here is a list of the primary tools used here:
          %ul
            %li Ruby On Rails 4.x
            %li Ruby 2.x
            %li HTML5, CSS3, Haml and jQuery (CoffeeScript)
            %li Page Layout via Twitter Bootstrap (using CSS, Sass, and a fair bit of cursing)
            %li Test Driven Design using RSpec, Capybara, Guard, Factory Girl
            %li Deployment to Amazon AWS (Rails "in the cloud") using Rubber/Capistrano
          

        %p 
          = "The full source for this website is available on my "
          = link_to "public Github repo", 'http://github.com/JeffAPritchard/gallery', :target => "_blank"
          = "."