.container
  #content
    .section
      .col-md-7
        .title_main
          %span.title_words
            %span{ :style => "color: gray"}
              Jeff Pritchard

    .section
      .col-md-12.underline


      .row
        .col-md-12
          .vertical_spacer
        
    .section.well.well-lg
      .row
        .col-md-12
          .vertical_spacer

      .row
        .col-md-12

          %h2
            About Jeff Pritchard...
  
          .vertical_spacer

          %em
            %blockquote.quote-style
              %p.blurb-style
                I am a bit odd, but mostly in harmless ways.
              .vertical_spacer
  
              %p.blurb-style
                While there isn't any one label that really describes me well, a few "tags" I wear with honor would be: Engineer, Creative, Nature Lover, Persistant.
              .vertical_spacer
  
              %p.blurb-style
                Most people who know me well would likely describe me as "always off on some project or another."  Probably that is as good an explanation of me as any
                (though I'm likely to think of them more generously as "adventures").
              .vertical_spacer
  
              %p.blurb-style
                One is equally likely to find me either parked in front of a computer, or hacking away in my workshop, or sitting quietly in the woods leaning up against a tree.
  
      .row
        .col-md-12
          .vertical_spacer
          .vertical_spacer

    .section
      .col-md-12
        = link_to "Back Home", :index
