  

  
.container

  %h1#main_header
    Jeff Pritchard&nbsp;&nbsp;&nbsp;
    %span.small
      So many projects, so little time...
  

  .row
    .col-md-4
      empty for now
  
    .col-md-2
    
    .col-md-2
      .main_link
        = link_to "Photography", photos_path


        = render :partial => "activity", :collection => @categories

  
  .row
    .col-md-12{ :style => "height: 50px;"}
    

  .row
    .col-md-2
    
    .col-md-2
      .about_link
        = link_to "About The Guy", url_for('/bio_blurb')

    .col-md-2
    
    .col-md-2
      .about_link
        = link_to "About The Website", url_for('/website_blurb')
  