.vertical_spacer

.section.well.well-lg
  .row
    .col-md-12
      .vertical_spacer

  .row
    .col-md-12

      %h2
        About My Photography...

      .vertical_spacer

  %em
    
    %blockquote.quote-style
      %p.blurb-style
        I have been enjoying the hobby of nature photography for a third of a century.  
        My images fall mostly into the large genre of "nature" photography, but tend to be absent
        the most common type of nature images.  That is, specifically, that you will find very few images of critters.  
        As I sometimes describe it, "I don't shoot anything with eyes."
  
      %p.blurb-style
        For the hopelessly curious, I shoot all digital and have since the dawn of this millenium.
        My current "kit" is a Canon 6D, a Tamron 28-300 zoom lens and a Canon 100mm macro L lens.  Most of the time I prefer to
        shoot with the prime Canon lens and "zoom with my legs".  Almost ALL of my photography is done with the camera on a tripod.
        I own a flash but never take it out in the woods with me.  I very rarely use any filters.
  
      %p.blurb-style
        All of my images are carefully "tweaked" for sharpness and brightness and carefully cropped.  
        Other than the above there is zero "photoshopping".
  
  .vertical_spacer

  %p
    .blurb-kicker
      ( Click on "Small", "Medium", or "Large" above to get started... )