#medium
  .row
    .col-md-4
       
    .col-md-7
      .paginate_links
        = will_paginate @photos_medium, :param_name => :page_medium, :params => { :active_tab => 'medium'}
    .col-md-1
       

  / an alternative to using the grid for proper flowing of thumbnails into available space
  .row
    .col-md-12#medium_images_div
      %ul.thumbnails.list-unstyled
        - @photos_medium.each do |photo|
          %li.flow
            .thumbnail_outer
              .thumbnail-medium
                - style_str = session[:using_jscript] ? "opacity: 0" : ""
                %a{ :href => "#{get_large_page_uri(photo, @all_selected_photos)}"}
                  = image_tag photo.get_small_url, :class => 'img-thumbnail', :style => style_str


  / after visible thumbs are loaded, go ahead and pre-load the next set for instant availability in cache when they hit "next"
  .invisible_preloader
    - if @photos_medium_next
      - @photos_medium_next.each do |photo|
        = image_tag photo.get_small_url
    