#medium
  .row
    .col-md-1
    .col-md-7
      .paginate_links
        = will_paginate @photos_medium, :param_name => :page_medium, :params => { :active_tab => 'medium'}
    .col-md-4

  / an alternative to using the grid for proper flowing of thumbnails into available space
  .row
    .col-md-12
      %ul.thumbnails.list-unstyled
        - @photos_medium.each do |photo|
          %li.flow
            .thumbnail_outer
              .thumbnail-medium
                %a{ :href => "#{get_large_page_uri(photo, @all_selected_photos)}"}
                  = image_tag photo.get_small_url, :class => 'img-thumbnail'
