.row
  .col-md-1
  .col-md-7
    .paginate_links
      - photo = @photos_large.first
      - separator_str = get_full_separator_string(photo, @all_selected_photos)
      = will_paginate @photos_large, :page_links => false, :param_name => :page_large, :params => { :active_tab => 'large'}, :link_separator => separator_str
  .col-md-4

.single_view#large_image_div
  = image_tag @photos_large.first.get_big_url

