
#small
  .row
    .col-md-1
    .col-md-6
      .paginate_links
        = will_paginate @photos_small, :param_name => :page_small, :params => { :active_tab => 'small'}
    .col-md-5

  / an alternative to using the grid for proper flowing of thumbnails into available space
  .row
    .col-md-12#thumbnails_div
      %ul.thumbnails.list-unstyled
        - @photos_small.each do |photo|
          %li.flow
            .thumbnail_outer
              .thumbnail-small
                %a{ :href => "#{get_large_page_uri(photo, @all_selected_photos)}"}
                  = image_tag photo.get_small_url, :class => 'img-thumbnail', :style => 'opacity: 0;'



  / after visible thumbs are loaded, go ahead and pre-load the next set for instant availability in cache when they hit "next"
  .invisible_preloader
    - if @photos_small_next
      - @photos_small_next.each do |photo|
        = image_tag photo.get_small_url
    