// Place all the styles related to the Activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";


.activity_list_element {
  @include make-row();
  
  .image-column {
    @include make-md-column(2);
    
  }

  .title {
    @include make-md-column(3);
    
  }

  .description {
    @include make-md-column(7);
    
  }

  border: thin solid gray;
  padding: 30px;
  margin: 20px;
}

.software_style {
  font-weight: bold;
}

.software_style div.title {
  font-size: 150%;
}

.software_style div.description {
  font-size: 100%;
}

.project_style {
  font-weight: bold;
}

.project_style div.title {
  font-size: 150%;
}

.project_style div.description {
  font-size: 100%;
}


.writing_style {
  font-weight: bold;
}

.writing_style div.title {
  font-size: 120%;
}

.writing_style div.description {
  font-size: 100%;
}