// Place all the styles related to the construction controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.con_image { padding-top: 200px; }

#hidden_link_div {
	display: block;
	text-decoration: none;
}

.hidden_home_link {
	color: rgb(238, 238, 238);
	float: right;
	
	&:visited {
		color: rgb(238, 238, 238);
	}
	&:hover {
		color: #777;
		text-decoration: none;
	}
}