// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.move_up {
  margin-top: -30px;
}


.paginate_links {
  margin-top: 5px;
  margin-bottom: 5px;
}


.pagination {
  font-size: larger;
  margin-top: 5px;
  margin-bottom: 5px;
  float: right !important;
}


#filter_box {
  width: 85px;
  min-height: 500px;
  border: thin solid silver;
  padding: 10px;
  margin: 0px;
  margin-left: -15px;
  background: lightgray;
}

// to center the landscape orientation thumbs vertically in the alloted space, we used a technique described here:
// http://css-tricks.com/centering-in-the-unknown/

.thumbnail_outer {
  display: table;
}

.thumbnail-medium {
  height: 275px;
  border: none;
  background: none;
  margin-top: 0;
  margin-bottom: 0;
  display: table-cell;
  vertical-align: middle;
}

.thumbnail-medium img {
  max-height: 260px;
}

.thumbnail-small {
  height: 125px;
  border: none;
  background: none;
  margin-top: 0;
  margin-bottom: 0;
  display: table-cell;
  vertical-align: middle;
}

.thumbnail-small img {
  max-height: 125px;
}

.single_view {
  max-height: 600px;
}

.single_view img{
  max-height: 600px;
}


.filters_section_outer {
//  margin-top: 100px;
}

.filters_section {
  height: 275px;
  width: 150px;
  border: thin solid silver;
  background: none;
  padding: 20px;
}


.rounded {
  border-radius: 10px;
}