// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";



.photo_title_and_nav {
  @include make-row();
  
  .title_part {
    @include make-md-column(7);
    
  }
  
  .nav_part {
    @include make-md-column(5);
    
  }
}


.photo-tabs {
  @include make-row();
}


.pagination-section {
  @include make-row();
  @include make-md-column-push(1);
  @include make-md-column(10);
  
}

#medium_images_div {
  @include make-row();
  @include make-md-column(11);
  margin-top: 10px;
  
  .centering-container{
    width: 90%;
    @include center-block();    
  }
}

#small_images_div {
  @include make-row();
  @include make-md-column(11);
  margin-top: 10px;

  .centering-container{
    width: 90%;
    @include center-block();    
  }
}

.single_view {
  @include make-row();
  @include make-md-column(12);
  margin-top: 10px;
  @include center-block();
// let it be as big as they have room for!
//  height: 1000px;
}


.picture_container {
//  position: relative;
}

.picture_image {
//  opacity: 0.3;
////  max-height: 450px;
////  max-width: 900px;
////  position: absolute;
////  top: 45px;
////  left: 125px;
//  overflow: hidden;
}

.picture_foreground {
  background-image: 'https://s3.amazonaws.com/jeffp-images/big/sky%204.jpg';
}

// the primary goal of this css is to make the "next" button
// extremely stationary in all screens
.paginate_links {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}

.pagination {
  display: block;
  font-size: 1.3em;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  max-height: 22px;
}


.previous_button {
  float: left;
  margin-right: 20px;
  margin-top: -5px;
}

.next_button {
  margin-left: 20px;
  margin-top: -5px;
  float: right;
}

#center .current {
  text-decoration: underline;
}



// =========== thumbnail related css for small icon view

.flow {
  float: right;
}



// to center the landscape orientation thumbs vertically in the alloted space, we used a technique described here:
// http://css-tricks.com/centering-in-the-unknown/

.thumbnail_outer {
  display: table;
}

.thumbnail-medium {
  height: 275px;
  width: 275px;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.thumbnail-medium img {
  max-height: 275px;
  max-width: 275px;
  margin: auto;
}

.thumbnail-small {
  height: 125px;
  width: 125px;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.thumbnail-small img {
  max-height: 125px;
  max-width: 125px;
  margin: auto;
}


.single_view img{
//  max-height: 1000px;
}

.invisible_preloader{
  display: none;
}


// stuff for the popup filters section

#filter_box {
  width: 85px;
  min-height: 500px;
  border: thin solid silver;
  padding: 10px;
  margin: 0px;
  margin-left: -15px;
  background: lightgray;
}



.filters_section_outer {
//  margin-top: 100px;
}

.filters_section {
  height: 275px;
  width: 150px;
  border: thin solid silver;
  background: none;
  padding: 20px;
}


.rounded {
  border-radius: 10px;
}