.row.activity_list_element
	.col-md-1
		-unless activity.icon.empty?
			= image_tag activity.icon, :class => "activity_icon"
		- else
			icon
		
	.col-md-2
		= link_to activity.name, "http://#{activity.url}"
	.col-md-8
		= activity.description
